/* AggregatedCropsTable*/

.aggregated-crops-table {
    margin: 20px 0;
}

.aggregated-crops-table h2 {
    margin-bottom: 10px;
}

.aggregated-crops-table table {
    width: 100%;
    border-collapse: collapse;
}

.aggregated-crops-table th {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.aggregated-crops-table td {
    padding: 10px;
}

.aggregated-crops-table .loading-row td {
    text-align: center;
    padding: 20px;
}


/* AverageCropsTable*/

.average-crops-table {
    margin: 20px 0;
}

.average-crops-table h2 {
    margin-bottom: 10px;
}

.average-crops-table table {
    width: 100%;
    border-collapse: collapse;
}

.average-crops-table th {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.average-crops-table td {
    padding: 10px;
}

.average-crops-table .loading-row td {
    text-align: center;
    padding: 20px;
}

tr td{
    text-align: center;
    border: 2px solid #000;
}

th{
    border: 2px solid #000;
}
